.elementor-kit-51 {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-6d6c02e: #e7fb08;
  --e-global-color-5f3774e: #161414;
  --e-global-color-f04ce78: #ffffff;
  --e-global-color-124dbca: #b8b8b8;
  --e-global-color-40700c3: #ffffff21;
  --e-global-color-3ee079c: #1d1d1c;
  --e-global-color-37fad8b: #ffffff00;
  --e-global-color-99679bc: #919c15;
  --e-global-color-56030c7: #000000;
  --e-global-color-b995df0: #00000063;
  --e-global-color-4bdde54: #ffffff17;
  --e-global-color-fbc7e9e: #2a2a2a;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-b0243b3-font-family: "Unbounded";
  --e-global-typography-b0243b3-font-size: 8.4em;
  --e-global-typography-b0243b3-font-weight: 300;
  --e-global-typography-b0243b3-text-transform: uppercase;
  --e-global-typography-b0243b3-line-height: 1.2em;
  --e-global-typography-8439c55-font-family: "Unbounded";
  --e-global-typography-8439c55-font-size: 3.5em;
  --e-global-typography-8439c55-font-weight: 300;
  --e-global-typography-8439c55-text-transform: capitalize;
  --e-global-typography-8439c55-line-height: 1.1em;
  --e-global-typography-1405fd5-font-family: "Unbounded";
  --e-global-typography-1405fd5-font-size: 3em;
  --e-global-typography-1405fd5-font-weight: 300;
  --e-global-typography-1405fd5-text-transform: capitalize;
  --e-global-typography-1405fd5-line-height: 1.1em;
  --e-global-typography-439cf63-font-family: "Unbounded";
  --e-global-typography-439cf63-font-size: 1.6em;
  --e-global-typography-439cf63-font-weight: 300;
  --e-global-typography-439cf63-text-transform: capitalize;
  --e-global-typography-439cf63-line-height: 1.1em;
  --e-global-typography-a270a4b-font-family: "Unbounded";
  --e-global-typography-a270a4b-font-size: 1.3em;
  --e-global-typography-a270a4b-font-weight: 300;
  --e-global-typography-a270a4b-text-transform: capitalize;
  --e-global-typography-a270a4b-line-height: 1.1em;
  --e-global-typography-f097235-font-family: "Unbounded";
  --e-global-typography-f097235-font-size: 1.2em;
  --e-global-typography-f097235-font-weight: 400;
  --e-global-typography-f097235-text-transform: capitalize;
  --e-global-typography-f097235-line-height: 1.1em;
  --e-global-typography-d6efa32-font-family: "Unbounded";
  --e-global-typography-d6efa32-font-size: 3.4em;
  --e-global-typography-d6efa32-font-weight: 300;
  --e-global-typography-d6efa32-text-transform: capitalize;
  --e-global-typography-d6efa32-line-height: 1.1em;
  --e-global-typography-3db296c-font-family: "Unbounded";
  --e-global-typography-3db296c-font-size: 3em;
  --e-global-typography-3db296c-font-weight: 300;
  --e-global-typography-3db296c-text-transform: capitalize;
  --e-global-typography-3db296c-line-height: 1.1em;
  --e-global-typography-a34b4ad-font-family: "Unbounded";
  --e-global-typography-a34b4ad-font-size: 2.1em;
  --e-global-typography-a34b4ad-font-weight: 300;
  --e-global-typography-a34b4ad-text-transform: capitalize;
  --e-global-typography-a34b4ad-line-height: 1.4em;
  --e-global-typography-34572f2-font-family: "Unbounded";
  --e-global-typography-34572f2-font-size: 1em;
  --e-global-typography-34572f2-font-weight: 400;
  --e-global-typography-34572f2-text-transform: uppercase;
  --e-global-typography-34572f2-line-height: 1.1em;
  --e-global-typography-70923b5-font-family: "Unbounded";
  --e-global-typography-70923b5-font-size: 1.3em;
  --e-global-typography-70923b5-font-weight: 300;
  --e-global-typography-70923b5-text-transform: capitalize;
  --e-global-typography-70923b5-line-height: 1.1em;
  --e-global-typography-c98cf9b-font-family: "Unbounded";
  --e-global-typography-c98cf9b-font-size: 1.6em;
  --e-global-typography-c98cf9b-font-weight: 300;
  --e-global-typography-c98cf9b-text-transform: capitalize;
  --e-global-typography-c98cf9b-line-height: 1.2em;
  --e-global-typography-adc1152-font-family: "Unbounded";
  --e-global-typography-adc1152-font-size: 1.1em;
  --e-global-typography-adc1152-font-weight: 400;
  --e-global-typography-adc1152-text-transform: capitalize;
  --e-global-typography-adc1152-line-height: 1.3em;
  --e-global-typography-aea9cc3-font-family: "Unbounded";
  --e-global-typography-aea9cc3-font-size: 7.7em;
  --e-global-typography-aea9cc3-font-weight: 300;
  --e-global-typography-aea9cc3-text-transform: uppercase;
  --e-global-typography-fc31bad-font-family: "Unbounded";
  --e-global-typography-fc31bad-font-size: 11.2em;
  --e-global-typography-fc31bad-font-weight: 400;
  --e-global-typography-fc31bad-text-transform: uppercase;
  color: var(--e-global-color-124dbca);
  background-color: var(--e-global-color-5f3774e);
}

.elementor-kit-51 h1 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-b0243b3-font-family), Sans-serif;
  font-size: var(--e-global-typography-b0243b3-font-size);
  font-weight: var(--e-global-typography-b0243b3-font-weight);
  text-transform: var(--e-global-typography-b0243b3-text-transform);
  line-height: var(--e-global-typography-b0243b3-line-height);
}

.elementor-kit-51 h2 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-8439c55-font-family), Sans-serif;
  font-size: var(--e-global-typography-8439c55-font-size);
  font-weight: var(--e-global-typography-8439c55-font-weight);
  text-transform: var(--e-global-typography-8439c55-text-transform);
  line-height: var(--e-global-typography-8439c55-line-height);
}

.elementor-kit-51 h3 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-1405fd5-font-family), Sans-serif;
  font-size: var(--e-global-typography-1405fd5-font-size);
  font-weight: var(--e-global-typography-1405fd5-font-weight);
  text-transform: var(--e-global-typography-1405fd5-text-transform);
  line-height: var(--e-global-typography-1405fd5-line-height);
}

.elementor-kit-51 h4 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-439cf63-font-family), Sans-serif;
  font-size: var(--e-global-typography-439cf63-font-size);
  font-weight: var(--e-global-typography-439cf63-font-weight);
  text-transform: var(--e-global-typography-439cf63-text-transform);
  line-height: var(--e-global-typography-439cf63-line-height);
}

.elementor-kit-51 h5 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-a270a4b-font-family), Sans-serif;
  font-size: var(--e-global-typography-a270a4b-font-size);
  font-weight: var(--e-global-typography-a270a4b-font-weight);
  text-transform: var(--e-global-typography-a270a4b-text-transform);
  line-height: var(--e-global-typography-a270a4b-line-height);
}

.elementor-kit-51 h6 {
  color: var(--e-global-color-f04ce78);
  font-family: var(--e-global-typography-f097235-font-family), Sans-serif;
  font-size: var(--e-global-typography-f097235-font-size);
  font-weight: var(--e-global-typography-f097235-font-weight);
  text-transform: var(--e-global-typography-f097235-text-transform);
  line-height: var(--e-global-typography-f097235-line-height);
}

.elementor-kit-51 button,
.elementor-kit-51 input[type="button"],
.elementor-kit-51 input[type="submit"],
.elementor-kit-51 .elementor-button {
  color: var(--e-global-color-5f3774e);
  background-color: #e7fb08;
  border-radius: 999px 999px 999px 999px;
  padding: 17px 30px 17px 30px;
}

.elementor-kit-51 button:hover,
.elementor-kit-51 button:focus,
.elementor-kit-51 input[type="button"]:hover,
.elementor-kit-51 input[type="button"]:focus,
.elementor-kit-51 input[type="submit"]:hover,
.elementor-kit-51 input[type="submit"]:focus,
.elementor-kit-51 .elementor-button:hover,
.elementor-kit-51 .elementor-button:focus {
  color: var(--e-global-color-5f3774e);
  background-color: var(--e-global-color-f04ce78);
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1300px;
}

.e-con {
  --container-max-width: 1300px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

 {
}

h1.entry-title {
  display: var(--page-title-display);
}

.elementor-kit-51 e-page-transition {
  background-color: #ffbc7d;
}

.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .elementor-kit-51 {
    --e-global-typography-b0243b3-font-size: 4.5em;
    --e-global-typography-8439c55-font-size: 2.8em;
    --e-global-typography-1405fd5-font-size: 2.7em;
    --e-global-typography-439cf63-font-size: 1.6em;
    --e-global-typography-a270a4b-font-size: 1.2em;
    --e-global-typography-f097235-font-size: 1em;
    --e-global-typography-d6efa32-font-size: 2.4em;
    --e-global-typography-3db296c-font-size: 2.4em;
    --e-global-typography-a34b4ad-font-size: 2em;
    --e-global-typography-34572f2-font-size: 0.9em;
    --e-global-typography-70923b5-font-size: 1.2em;
    --e-global-typography-c98cf9b-font-size: 1.2em;
    --e-global-typography-adc1152-font-size: 1.1em;
    --e-global-typography-aea9cc3-font-size: 5.6em;
  }

  .elementor-kit-51 h1 {
    font-size: var(--e-global-typography-b0243b3-font-size);
    line-height: var(--e-global-typography-b0243b3-line-height);
  }

  .elementor-kit-51 h2 {
    font-size: var(--e-global-typography-8439c55-font-size);
    line-height: var(--e-global-typography-8439c55-line-height);
  }

  .elementor-kit-51 h3 {
    font-size: var(--e-global-typography-1405fd5-font-size);
    line-height: var(--e-global-typography-1405fd5-line-height);
  }

  .elementor-kit-51 h4 {
    font-size: var(--e-global-typography-439cf63-font-size);
    line-height: var(--e-global-typography-439cf63-line-height);
  }

  .elementor-kit-51 h5 {
    font-size: var(--e-global-typography-a270a4b-font-size);
    line-height: var(--e-global-typography-a270a4b-line-height);
  }

  .elementor-kit-51 h6 {
    font-size: var(--e-global-typography-f097235-font-size);
    line-height: var(--e-global-typography-f097235-line-height);
  }

  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }

  .e-con {
    --container-max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .elementor-kit-51 {
    --e-global-typography-b0243b3-font-size: 1.9em;
    --e-global-typography-8439c55-font-size: 2.3em;
    --e-global-typography-1405fd5-font-size: 2em;
    --e-global-typography-439cf63-font-size: 1.4em;
    --e-global-typography-a270a4b-font-size: 1em;
    --e-global-typography-f097235-font-size: 1em;
    --e-global-typography-d6efa32-font-size: 2.6em;
    --e-global-typography-3db296c-font-size: 2.4em;
    --e-global-typography-a34b4ad-font-size: 1.5em;
    --e-global-typography-34572f2-font-size: 0.9em;
    --e-global-typography-70923b5-font-size: 1.2em;
    --e-global-typography-c98cf9b-font-size: 1.2em;
    --e-global-typography-adc1152-font-size: 1.1em;
    --e-global-typography-aea9cc3-font-size: 2.9em;
    --e-global-typography-fc31bad-font-size: 7.1em;
  }

  .elementor-kit-51 h1 {
    font-size: var(--e-global-typography-b0243b3-font-size);
    line-height: var(--e-global-typography-b0243b3-line-height);
  }

  .elementor-kit-51 h2 {
    font-size: var(--e-global-typography-8439c55-font-size);
    line-height: var(--e-global-typography-8439c55-line-height);
  }

  .elementor-kit-51 h3 {
    font-size: var(--e-global-typography-1405fd5-font-size);
    line-height: var(--e-global-typography-1405fd5-line-height);
  }

  .elementor-kit-51 h4 {
    font-size: var(--e-global-typography-439cf63-font-size);
    line-height: var(--e-global-typography-439cf63-line-height);
  }

  .elementor-kit-51 h5 {
    font-size: var(--e-global-typography-a270a4b-font-size);
    line-height: var(--e-global-typography-a270a4b-line-height);
  }

  .elementor-kit-51 h6 {
    font-size: var(--e-global-typography-f097235-font-size);
    line-height: var(--e-global-typography-f097235-line-height);
  }

  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }

  .e-con {
    --container-max-width: 767px;
  }
}
